doctype html
html(lang="en")
  head
    block title 
      title Node Framework
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/normalize.css')
    
  body
    include ./partials/header.jade
    block content    
    include ./partials/footer.jade
